<component name="ArtifactManager">
  <artifact type="war" name="SpringMybatisTest:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMTest.war">
      <element id="artifact" artifact-name="SpringMybatisTest:war exploded" />
    </root>
  </artifact>
</component>